
.svg-icon[data-v-fa161cd0] {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

.custom-property[data-v-e19c058e] {
  overflow: auto;
  padding: 10px 20px;
}
.custom-property .tag-contact[data-v-e19c058e] {
  margin-left: 20px;
}

.custom-tree .custom-tree-node[data-v-6279a871] {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
}
.custom-tree .custom-tree-node[data-v-6279a871] .el-icon-circle-plus {
  color: #39da5a;
  margin-left: 10px;
}
.custom-tree .custom-tree-node .el-icon-error[data-v-6279a871] {
  color: #ff8138;
}

.menu-management .left-container[data-v-12cc1d84] {
  width: 350px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px;
  min-height: 100%;
  float: left;
}
.menu-management .right-container[data-v-12cc1d84] {
  float: left;
  width: calc(100% - 370px);
  margin-left: 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px;
  min-height: 100%;
}

