@import "./element.less";
@import "./icomoon.less";
@import "../iconfont/index.less";

html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

#app{

    height: 100%;
    width: 100%;
    position:absolute;    
}

html{

    font-size:14px;
}

.box-100{

   width:100%;
   height: 100%;
   position: relative;

}

.pad-10{

    padding: 10px;
}

.pad-20{

    padding: 20px;
}

div{

    box-sizing:border-box;
}



